body{
    font-family: sans-serif;
    background-color: #636870;
    color: white;
    text-align: center;
}

button{
    background-color: #484c52;
    color: #d0d2d6;
}

ul{
    list-style-type: none;
    text-align: center;
}

li{
    border-bottom: solid 1px;
    border-color: #484c52;
}

.titlecard{
    font-size: 50px;
}

.postTitleCard{
    border-top: solid 1px;
    border-color: #484c52;
}

.postli{
    margin-left: -40px;
}